<%- include("templates/menu") %>
<div class="detalle">
    <h1 class="nom_producto">Collar Rastreador</h1>
    <p class="detalle_producto">
        <img src="https://cdn.shopify.com/s/files/1/0185/9786/products/Web-25503-Top-Rope-Collar-Sea-Foam_689x460.jpg?v=1619235371"alt="producto"/>
        El collar ofrece fuerza y estilo gracias a nuestro hebilla metálico Talon Buckle®. La sujeción segura y la paz mental van incluidos ya que es un collar sumamente resistente. El diseño del collar utiliza el peso de la hebilla de metal para colocar convenientemente el anillo donde se conecta la correa en la parte superior del cuello del perro para un rápido y cómodo enganche de la correa.<br>
        <br>PRECIO: $20<br>Collar para gato
    </p>
</div>
<%- include("templates/pieDePagina") %>;