<%- include("templates/menu") %>
<div class="seccion1">
    <h1 class="titulo1">Historia</h1>
    <p class="parrafo1">
        <img src="https://imagizer.imageshack.com/img924/2298/EEigZQ.png" alt="Perro y gato">
        HelP-Pet es un proyecto destinado al cuidado de Perros y gatos, En nuestra plataforma podrás:
        adquirir uno de nuestros collares para tu perro o gato, el cual cuenta con la función de enlazamiento a tu teléfono móvil, esto con la finalidad de que puedas saber en donde se encuentra en caso de extravió, así como también podrás consultar información referente a tu perro o gato y buscar la veterinaria más cercana a tu ubicación en caso
    </p>
</div>
<%- include("templates/pieDePagina") %>;