<%- include("templates/menuAccess") %>
<div class="mascota_ej1">
    <img src="https://imagizer.imageshack.com/img923/5238/o5ohUD.jpg">
    <a href="/perfilMascota"><h2 class="nombre1">Dagoberto</h2></a>
</div>
<div class="mascota_ej2">
    <img src="https://imagizer.imageshack.com/img923/8414/95zflL.jpg">
    <a href="/perfilMascota"><h2 class="nombre2">Lucas</h2></a>
</div>
<div class="mascota_ej3">
    <img src="https://imagizer.imageshack.com/img924/4793/6vxvl6.jpg">
    <a href="/perfilMascota"><h2 class="nombre3">Roberto</h2></a>
</div>
<div class="mascota_ej3">
    <img src="#">
    <a href="/RegistroPet"><h2 class="nombre3">Registrar Nuevo</h2></a>
</div>
</div>