<%- include("templates/menuAccess") %>
<div class="foto_perfil">
<img src="https://imagizer.imageshack.com/img923/5238/o5ohUD.jpg">
</div>
<div class="tabla_de_datos">
    <h1 class="username_data">Datos de la mascota</h1>
    <form action="#" method="post" id="datos_cliente">
        <label for="Nombre de Mascota">Nombre</label>
        <input type="text">
        <label for="Raza">Raza</label>
        <input type="text">
        <label for="Edad">Edad</label>
        <input type="text">
        <a href="/editarDatos">Editar datos</a>
    </form>
</div>
<%- include("templates/pieDePagina") %>;