<%- include("templates/menuAccess") %>
<div class="foto_perfil">
<img src="https://imagizer.imageshack.com/img924/2877/wqONpB.jpg">
</div>
<div class="tabla_de_datos">
    <h1 class="username_data">Datos del Usuario</h1>
    <form action="#" method="post" id="datos_cliente">
        <label for="Nombre de Usuario">Username</label>
        <input type="text">
        <label for="contraseña">Contraseña</label>
        <input type="password">
        <label for="correo">Email</label>
        <input type="text">
    </form>
</div>
<%- include("templates/pieDePagina") %>;