<%-  %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/misitio/css/estilos.css">
</head>
<body>
<div class="slider">
    <ul>
        <li>
            <img src="https://imagizer.imageshack.com/img923/8174/pfKZM8.jpg">
        </li>
        <li>
            <img src="https://imagizer.imageshack.com/img924/790/ARUzLZ.jpg">
        </li>
        <li>
            <img src="https://imagizer.imageshack.com/img923/7128/godJmf.jpg">
        </li>
        <li>
            <img src="https://imagizer.imageshack.com/img923/2307/SqjXPg.jpg">
        </li>
    </ul>
    <div class="login-box">
        <img src="https://imagizer.imageshack.com/img924/4048/iri4FG.png" class="avatar" alt="Avatar Image">
        <h1>Login Here</h1>
        <form action="#" method="post" id="formulario" class="bg-black">
          
          <label for="username">Nombre</label>
          <input type="text" id="nom_pet" name="nom_pet" placeholder="Nombre de la mascota">
          <label for="raza">Raza</label>
          <input type="text" id="raza_pet" name="raza_pet" placeholder="raza de la mascota">
          <label for="correo">Color</label>
          <input type="text" id="color_pet" name="color_pet" placeholder="color de la mascota">
          <div>
            <label for="genero">Genero</label>
            <select>
                <option>Macho</option>
                <option>Hembra</option>
            </select>
          </div>
          <br>
          <button type="submit" class="send">Registrar</button>
        </form>
      </div>
</div>
</body>
</html>
<%- %>