<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina web official HelP-Pet</title>
    <link rel="stylesheet" href="/misitio/css/estilos.css">
    <link rel="icon" href="https://imagizer.imageshack.com/img924/4048/iri4FG.png">
    <script src ="/misitio/js/script.js" defer></script>
</head>
<body class="fondoP">
<header class="barra">
    <nav class="opciones">
        <img src="https://imagizer.imageshack.com/img924/4048/iri4FG.png" alt="Logo Hpp">
        <ul class="lista">
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/Clientes">Productos</a></li>
            <li><a href="#" class="login-link">Login</a>
                <ul class="submenu login-submenu">
                    <li><a href="/sesionAdmin">Admin</a></li>
                    <li><a href="/Clientes">Cliente</a></li>
                </ul>
            </li>
        </ul>
    </nav>    
</header>