<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelP-Pet</title>
    <link rel="stylesheet" href="/misitio/css/estilos.css">
</head>
<body class="fondoP">
<header class="barra">
    <nav class="opciones">
        <img src="https://imagizer.imageshack.com/img924/4048/iri4FG.png" alt="Logo Hpp">
        <ul class="lista">
            <li><a href="/accessAdmin">Inicio</a></li>
            <li><a href="/adminProducts">Productos</a></li>
            <li><a href="/perfilAdmin">Perfil</a>
        </ul>
    </nav>    
</header>